* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

:root {
  --color-header1: #afd16f;
  --color-header2: #deebc9;
  --color-search: #def534;
  --color-header3: #a9c576;
  --color-orangeheading: #bf4800;
  --color-backgrey: #f5f5f7;
  --color-border: #ededed;
  --color-basetext: #777777;
  --color-texthead: #131921;
}

a {
  text-decoration: none;
  display: inline-block;
} 

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}

.gap-5 {
  gap:5px;
}

.button {
  background-color: var(--color-header3);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-bottom: 25px;
}

.button:hover {
  background-color: var(--color-header1);
  color: black;
}

.card-wrapper {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}

.section-heading {
  font-size: 26px;
  line-height: 32 px;
  font-weight: 500;
  margin-bottom: 30px;
}

/* Header Part */

.header-top-strip {
  border-bottom: 1px solid var(--color-header2);
  background-color: var(--color-header1);
}

.header-upper {
  background-color: var(--color-header1);
}

.header-upper .input-group-text {
  background-color: var(--color-search);
}

.header-upper .header-upper-links img{
  width: 35px;
  height: 35px;
}

.header-bottom {
  background-color: var(--color-header3);
}

.header-bottom .menu-links a, .header-bottom .dropdown button {
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: .3;
  text-transform: uppercase;
}

.header-bottom .dropdown button:focus {
  box-shadow: none;
}

.header-bottom .dropdown-menu {
  background-color: var(--color-header1);
  width: 100%;
  transform: translate3d(0px, 57px, 0px) !important;
}

.header-bottom .dropdown-item {
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-header2);

}

.header-bottom .dropdown-item:hover {
  background-color: transparent;
  color: var(--color-search) !important ;
}

/* Header Part End */

/* Footer Part */

footer {
  background-color: var(--color-header3 );
}

footer:not(:first-child) {
  border-top: 1px solid var(--color-header2);
}

footer .input-group-text {
  background-color: var(--color-header3);
  color: white;
  padding: 8px 7px;
}

/* Footer Part End*/

/* Home Page*/

/* Home Wrapper 1*/

.main-banner-content {
  top:15%;
  left:5%;
}

.main-banner-content h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-orangeheading);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.main-banner-content h5 {
  font-size: 42px;
  line-height: 54px;
  letter-spacing: -2px;
  font-weight: 500;
  text-transform: none;
}

.main-banner-content p {
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.4px;
  color: rgb(33, 31, 31);
}

.small-banner-content {
  top:25%;
  left:8%;
}

.small-banner-content h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-orangeheading);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.small-banner-content h5 {
  font-size: 22px;
  line-height: 3 4px;
  letter-spacing: -0.5px;
  font-weight: 500;
  text-transform: none;
}

.small-banner-content p {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.4px;
  color: rgb(33, 31, 31);
}

.small-banner {
  width: 49%;
}

/* Home Wrapper 1 End*/

/* Home Wrapper 2*/

.home-wrapper-2 {
  background-color: var(--color-backgrey);
}

.services p {
  color: grey;
}
/* Home Wrapper 2 End*/

/* Categories */

.categories {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}

.categories > div {
  width: 25%;
  padding: 10px 10px 10px 30px;
}

.categories > div > div {
  width: 60%;
}

.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(4) {
  border-bottom: 1px solid var(--color-border);
}

.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(5),
.categories > div:nth-child(6),
.categories > div:nth-child(7) {
  border-right: 1px solid var(--color-border);
}

/* Categories End*/

/* Home Page End*/

/* Blog Card */

.blog-card {
  background-color: white; 
  border-radius: 10px;
   
}

.blog-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.blog-content {
  padding: 15px;
}

.blog-content p.date {
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--color-basetext);
  padding: 0px;
}

.blog-content h5 {
  font-size: 18px;
  color: var(--color-texthead);
}

.blog-content p.desc {
  font-size: 13px;
  line-height: 22px;
  color: var(--color-basetext);
}

/* Blog Card End*/

/* Product Card */

.product-card {
  background-color: white; 
  padding: 15px;
  border-radius: 10px;
  overflow: hidden;
}

.product-card .product-image {
  height: 270px;
}

.product-card .product-image img {
  object-fit: contain;
}

.product-card:hover .product-image img:first-child {
  display: none;
}

.product-card:hover .product-image img:last-child {
  display: block;
  transition: 0.3s;
}

.product-card .product-image img:last-child {
  display: none;
}

.product-card .product-details h6 {
  color: var(--color-orangeheading);
  font-size: 13px;
}

.product-card:hover .action-bar {
  right: 15px;
}

.product-card .product-details h5 {
  font-size: 15px; 
  color:  var(--color-texthead);
}

.product-card .product-details p.price {
  color: var(--color-texthead);
  font-size: 16px;
}

.action-bar {
  top: 10%;
  right: -23px;
  transition: 0.3s;
}

.wishlist-icon {
  top: 2%;
  right: 15px;
}

/* Product Card End*/

/* Special Product Card*/

.special-product-card {
  padding: 20px 10px;
  border-radius: 10px;
  background-color: white;
}

/* Special Product Card End*/

/* Famous Card */

.famous-card .famous-content {
  top: 10%;
  left: 5%;
}

.famous-card img {
  height: 325px;
  object-fit: contain;
  border-radius: 10px;
}

.famous-content h5 {
  font-size: 13px;
  line-height: 20px;
  color: var(--color-texthead);
  font-weight: 400;
  margin-bottom: 7px;
}

.famous-content h6 {
  font-size: 24px;
  line-height: 38px;
  font-weight: 500;
  color: var(--color-texthead);
}

.famous-content p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 100;
  color: var(--color-basetext);
}

.famous-card {
  background-color: white; 
  padding: 15px;
  border-radius: 10px;
  overflow: hidden;
}
/* Famous Card End */

/* Our Store */

.filter-card {
  background-color: white;
  border-radius: 10px;
  padding: 10px 15px 25px;
}

.filter-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: var(--color-texthead);
  margin-bottom: 10px;
}

.filter-card ul, .filter-card .form-check-label {
  list-style-type: none;
  font-size: 13px;
  line-height: 30px;
  color: var(--color-basetext);
  cursor: pointer;
}

.filter-card .form-check-input:focus {
  box-shadow: none;
  border-color: rgb(0, 0, 0, 0.25);
}

.filter-card .form-check-input:checked {
  background-color: var(--color-search);
  border-color: rgb(0, 0, 0, 0.25);
}

.sub-title {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-texthead);
  margin-bottom: 15px;
  margin-top: 20px;
}

.colors {
  list-style-type: none ;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.colors li {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}

/* Our Store End */